:root {
    --MENU-font-family: "Saira Condensed", Helvetica;
    --MENU-font-size: 16px;
    --MENU-font-style: normal;
    --MENU-font-weight: 700;
    --MENU-letter-spacing: 0px;
    --MENU-line-height: normal;
    --variable-collection-my-blue: rgba(64, 114, 150, 1);
  }
  