@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.desktop-3-child,
.desktop-3-item {
  position: absolute;
  left: 0;
  width: 1440px;
}
.desktop-3-child {
  top: 0;
  height: 548px;
  background-image: url(./public/rectangle-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.desktop-3-item {
  bottom: 0;
  background-color: var(--color-mediumpurple);
  height: 290px;
}
.need-a3 {
  margin: 0;
}
.need-a3,
.span13 {
  white-space: pre-wrap;
}
.enter-the-zone7 {
  color: var(--color-gray);
}
.enter-the-zone6 {
  margin: 0;
}
.need-a-loan-container3 {
  margin: 0;
  position: absolute;
  top: 1485px;
  left: 68px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  text-align: left;
}
.vector-icon13,
.vector-icon14 {
  width: 60px;
  position: relative;
  height: 61px;
  object-fit: cover;
}
.vector-icon14 {
  width: 63.3px;
  height: 47.7px;
}
.vector-parent {
  position: absolute;
  top: 1595px;
  left: 896px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 36px 56px;
}
.home3 {
  position: relative;
  text-shadow: 0 1px 6.6px #ffefef;
}
.sign-in2 {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--menu);
  color: var(--color-white);
  text-align: left;
}
.sign-in-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-red);
  width: 64px;
  box-shadow: 0 1px 6.6px #ffefef;
  height: 35px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.home-parent,
.lendr3 {
  margin: 0;
  position: absolute;
}
.home-parent {
  top: 37px;
  left: 1013px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 39px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--menu);
}
.lendr3 {
  top: 22px;
  left: 266px;
  font-size: var(--font-size-34xl);
  font-weight: 400;
  font-family: var(--font-texturina);
}
.gemini-generated-image-1-1 {
  width: 38px;
  position: relative;
  border-radius: var(--br-3xs);
  height: 35.5px;
  object-fit: cover;
}
.lend {
  margin: 0;
  width: 93px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  height: 28px;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-wrapper,
.gemini-generated-image-1-1-parent {
  width: 206px;
  height: 73px;
  display: flex;
  justify-content: flex-start;
}
.gemini-generated-image-1-1-parent {
  border-radius: var(--br-mid);
  background: linear-gradient(
      264.71deg,
      rgba(63, 59, 255, 0.5),
      rgba(255, 142, 169, 0.5)
    ),
    #fff;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: 18px 25px;
  box-sizing: border-box;
  gap: 0 22px;
}
.frame-wrapper {
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  font-size: 30px;
}
.gemini-generated-image-2-11 {
  width: 38px;
  position: relative;
  border-radius: var(--br-3xs);
  height: 34px;
  object-fit: cover;
}
.gemini-generated-image-2-1-group {
  width: 206px;
  border-radius: var(--br-mid);
  background: linear-gradient(
      264.71deg,
      rgba(63, 59, 255, 0.5),
      rgba(255, 142, 169, 0.5)
    ),
    #fff;
  height: 72px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mini);
  box-sizing: border-box;
  cursor: pointer;
}
.profile {
  width: 156px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  height: 28px;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0 0-3px;
}
.frame-group,
.gemini-generated-image-2-1-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.gemini-generated-image-2-1-container {
  width: 206px;
  border-radius: var(--br-mid);
  background: linear-gradient(
      264.71deg,
      rgba(63, 59, 255, 0.5),
      rgba(255, 142, 169, 0.5)
    ),
    #fff;
  height: 72px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: var(--padding-lgi) 0 var(--padding-lgi) 17px;
  box-sizing: border-box;
}
.frame-group {
  position: absolute;
  top: 668px;
  left: calc(50% - 491px);
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 13px;
  gap: 169px;
  font-size: var(--font-size-10xl);
  color: var(--color-black);
  font-family: var(--font-saira-semi-condensed);
}
.desktop-3-inner,
.feeling-stuck-with {
  position: absolute;
  top: 903px;
  width: 471px;
}
.desktop-3-inner {
  left: 138px;
  height: 357px;
  object-fit: cover;
}
.feeling-stuck-with {
  margin: 0;
  left: 830px;
  font-size: 23px;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-black);
  text-align: justify;
  display: inline-block;
}
.desktop-3-child1 {
  position: absolute;
  top: 845px;
  left: calc(50% - 7px);
  background: linear-gradient(180deg, #ff8fbe, #003d99);
  width: 13px;
  height: 528px;
}
.privacy-policy2,
.terms-and-conditions2 {
  margin: 0;
  width: 230px;
  position: relative;
  font-size: inherit;
  font-weight: 100;
  font-family: inherit;
  display: inline-block;
  height: 31px;
  flex-shrink: 0;
}
.terms-and-conditions2 {
  width: 253px;
  opacity: 0;
  margin: 0 0 0-2px;
}
.terms-and-conditions2.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.privacy-policy-parent {
  position: absolute;
  top: 1674px;
  left: 847px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-6xl);
}
.image-2-icon2 {
  position: absolute;
  top: 45px;
  left: 200px;
  width: 54.8px;
  height: 54.8px;
  object-fit: cover;
}
.span14 {
  color: var(--color-skyblue);
}
.earn8 {
  color: var(--color-blue);
}
.lend-and-earn-container8,
.lend-and-earn-container9 {
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.lend-and-earn-container8 {
  margin: 0;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25) inset) blur(47.9px);
}
.lend-and-earn-container9 {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.65))
    drop-shadow(7px 4px 47.9px #fff);
  margin: -205px 0 0;
}
.lend-and-earn-parent2 {
  position: absolute;
  top: 154px;
  left: 355px;
  width: 733px;
  height: 205px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-111xl);
  color: var(--color-red);
}
.desktop-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1750px;
  text-align: center;
  font-size: var(--font-size-51xl);
  color: var(--color-white);
  font-family: var(--menu);
}
