.desktop-7-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 548px;
  object-fit: cover;
}
.span5 {
  color: var(--color-skyblue);
}
.earn4 {
  color: var(--color-blue);
}
.lend-and-earn-container4 {
  position: relative;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25) inset) blur(47.9px);
}
.lend-and-earn-container5 {
  position: relative;
  display: inline-block;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.65))
    drop-shadow(7px 4px 47.9px #fff);
  margin-top: -205px;
}
.frame-div {
  position: absolute;
  top: 154px;
  left: 355px;
  width: 733px;
  height: 205px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-111xl);
  color: var(--color-red);
}
.desktop-7-item {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-mediumpurple);
  width: 1440px;
  height: 290px;
}
.need-a1 {
  margin: 0;
}
.need-a1,
.span9 {
  white-space: pre-wrap;
}
.enter-the-zone3 {
  color: var(--color-gray);
}
.enter-the-zone2 {
  margin: 0;
}
.need-a-loan-container1 {
  position: absolute;
  top: 1490px;
  left: 143px;
  font-size: var(--font-size-51xl);
}
.vector-icon4,
.vector-icon5 {
  position: absolute;
  top: 1590px;
  left: 920px;
  width: 60px;
  height: 61px;
}
.vector-icon5 {
  top: 1597px;
  left: 995px;
  width: 63.3px;
  height: 47.7px;
}
.vector-icon6,
.vector-icon7 {
  position: absolute;
  top: 1590px;
  left: 1073px;
  width: 60px;
  height: 61px;
}
.vector-icon7 {
  left: 1148px;
}
.about1,
.contact1,
.home1 {
  position: absolute;
  top: 42px;
  color: var(--color-black);
}
.home1 {
  left: 1013px;
  cursor: pointer;
}
.about1,
.contact1 {
  left: 1072px;
}
.contact1 {
  left: 1135px;
}
.sign-up1 {
  position: relative;
}
.sign-up-container {
  position: absolute;
  top: 37px;
  left: 1210px;
  background-color: var(--color-red);
  width: 64px;
  height: 35px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.lendr1 {
  position: absolute;
  top: 22px;
  left: 266px;
  font-size: var(--font-size-34xl);
  font-family: var(--font-texturina);
  text-align: center;
}
.privacy-policy1,
.terms-and-conditions1 {
  position: absolute;
  top: 1666px;
  left: 825px;
  font-size: var(--font-size-6xl);
  font-weight: 100;
  text-align: center;
  display: inline-block;
  width: 230px;
  height: 31px;
}
.terms-and-conditions1 {
  top: 1669px;
  left: 1072px;
  width: 253px;
}
.image-2-icon1 {
  position: absolute;
  top: 45px;
  left: 200px;
  width: 54.8px;
  height: 54.8px;
  object-fit: cover;
}
.rectangle-div {
  position: absolute;
  top: 308.4px;
  left: 189px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
  width: 748px;
  height: 95.4px;
}
.authentication,
.enter-otp-sent {
  position: absolute;
  top: 155.7px;
  left: 16px;
  display: inline-block;
  width: 547px;
  height: 106.5px;
}
.enter-otp-sent {
  top: 320px;
  left: 189px;
  font-size: var(--font-size-34xl);
  color: var(--color-silver);
  width: 748px;
  height: 96px;
}
.frame-child1 {
  position: absolute;
  top: 682px;
  left: 389px;
  width: 347px;
  height: 86.4px;
}
.frame-child2 {
  width: 347px;
  position: relative;
  border-radius: var(--br-3xl);
  background-color: var(--color-gainsboro);
  height: 72.3px;
  cursor: pointer;
}
.rectangle-wrapper {
  width: 347px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.verify {
  width: 347px;
  position: relative;
  display: inline-block;
  height: 72.3px;
  flex-shrink: 0;
  margin-top: -58px;
}
.frame-parent {
  position: absolute;
  top: 582px;
  left: 387px;
  width: 347px;
  height: 86.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-21xl);
}
.rectangle-container {
  position: absolute;
  top: 407px;
  left: 159px;
  border-radius: var(--br-47xl);
  background: conic-gradient(
    from 75.82deg at 50% 50%,
    #fff 0deg,
    rgba(150, 76, 157, 0.79) 104.01deg,
    rgba(149, 74, 156, 0.79) 179.25deg,
    #8d98ec 221.66deg,
    #fff 360deg,
    rgba(150, 76, 157, 0.79) 464.01deg
  );
  backdrop-filter: blur(4px);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1122px;
  height: 914px;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-saira-semi-condensed);
}
.desktop-7 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 1750px;
  text-align: left;
  font-size: var(--menu-size);
  color: var(--color-white);
  font-family: var(--menu);
}
