.desktop-2-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 548px;
  background-image: url(./public/rectangle-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.span10 {
  color: var(--color-skyblue);
}
.thrive {
  color: var(--color-blue);
}
.borrow-to-thrive-container,
.borrow-to-thrive-container1 {
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.borrow-to-thrive-container {
  margin: 0;
  filter: blur(81.2px) drop-shadow(7px 4px 47.9px #fff);
}
.borrow-to-thrive-container1 {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.65))
    drop-shadow(7px 4px 47.9px #fff);
  margin: -205px 0 0;
}
.borrow-to-thrive-parent {
  position: absolute;
  top: 196px;
  left: 258px;
  width: 923px;
  height: 205px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-111xl);
  color: var(--color-red);
  font-family: var(--menu);
}
.desktop-2-item {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-purple);
  width: 1440px;
  height: 290px;
}
.need-a2 {
  margin: 0;
}
.need-a2,
.span12 {
  white-space: pre-wrap;
}
.enter-the-zone5 {
  color: var(--color-gray);
}
.enter-the-zone4 {
  margin: 0;
}
.need-a-loan-container2 {
  margin: 0;
  position: absolute;
  top: 1747px;
  left: 163px;
  font-size: var(--font-size-51xl);
  font-weight: 700;
  font-family: inherit;
  color: var(--color-white);
}
.vector-icon8 {
  position: absolute;
  top: 1826px;
  left: 955px;
  width: 60px;
  height: 61px;
  object-fit: cover;
}
.vector-icon10,
.vector-icon11,
.vector-icon9 {
  position: absolute;
  top: 1833px;
  left: 1027px;
  width: 63.3px;
  height: 47.7px;
  object-fit: cover;
}
.vector-icon10,
.vector-icon11 {
  top: 1826px;
  left: 1108px;
  width: 60px;
  height: 61px;
}
.vector-icon11 {
  left: 1185px;
}
.home2 {
  position: absolute;
  top: 42px;
  left: 1013px;
  cursor: pointer;
}
.about2,
.contact2,
.sign-up-frame {
  position: absolute;
  top: 42px;
  left: 1072px;
}
.contact2,
.sign-up-frame {
  left: 1135px;
}
.sign-up-frame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-red);
  top: 37px;
  left: 1210px;
  width: 64px;
  height: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.lendr2 {
  margin: 0;
  position: absolute;
  top: 17px;
  left: 142px;
  font-size: var(--font-size-34xl);
  font-weight: 400;
  font-family: var(--font-texturina);
  color: var(--color-white);
  text-align: center;
}
.image-1-icon {
  position: absolute;
  top: 32px;
  left: 57px;
  width: 74px;
  height: 75px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.back {
  margin: 0;
  width: 156px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  height: 28px;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.back-wrapper {
  position: absolute;
  top: 1511px;
  left: 955px;
  border-radius: var(--br-mid);
  background: linear-gradient(
      264.71deg,
      rgba(63, 59, 255, 0.5),
      rgba(255, 142, 169, 0.5)
    ),
    #fff;
  width: 206px;
  height: 72px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-10xl);
  font-family: var(--font-saira-semi-condensed);
}
.vector-icon12 {
  position: absolute;
  height: 1.5%;
  width: 1.39%;
  top: 46.15%;
  right: 63.13%;
  bottom: 52.35%;
  left: 35.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.amount,
.description {
  margin: 0;
  position: absolute;
  top: 213.5px;
  left: 94.1px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 253.7px;
  height: 64.5px;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
}
.description {
  top: 365.4px;
}
.frame-child3,
.rectangle-input {
  position: absolute;
  border-radius: var(--br-42xl);
  background-color: var(--color-lavenderblush);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.rectangle-input {
  outline: 0;
  top: 210.5px;
  left: 305.2px;
  width: 483.6px;
  height: 68.5px;
}
.frame-child3 {
  top: 364.4px;
  left: 335px;
  width: 424.2px;
  height: 271.1px;
}
.proceed {
  position: relative;
  font-size: var(--menu-size);
  font-family: var(--menu);
  color: var(--color-white);
  text-align: left;
}
.amount-parent,
.proceed-wrapper {
  position: absolute;
  border-radius: var(--br-42xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.proceed-wrapper {
  cursor: pointer;
  padding: var(--padding-3xs);
  background-color: var(--color-red);
  top: 661px;
  left: 505px;
  width: 100px;
  height: 49px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.amount-parent {
  top: 691px;
  left: 159px;
  background: linear-gradient(
    180deg,
    rgba(101, 141, 201, 0.59),
    rgba(255, 0, 0, 0.59)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1122px;
  height: 778px;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--menu);
}
.gemini-generated-image-2-1 {
  width: 38px;
  position: relative;
  border-radius: var(--br-3xs);
  height: 34px;
  object-fit: cover;
}
.borrow {
  width: 156px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  height: 28px;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0 0-3px;
}
.gemini-generated-image-2-1-parent {
  position: absolute;
  top: 668px;
  left: 598px;
  border-radius: var(--br-mid);
  background: linear-gradient(
      264.71deg,
      rgba(63, 59, 255, 0.5),
      rgba(255, 142, 169, 0.5)
    ),
    #fff;
  width: 206px;
  height: 72px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mini);
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-10xl);
  font-family: var(--font-saira-semi-condensed);
}
.desktop-2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2000px;
  text-align: left;
  font-size: var(--menu-size);
  color: var(--color-black);
  font-family: var(--menu);
}
